@font-face {
    font-family: alimama-agile;
    src: url("./alimama-agile/AlimamaAgileVF-Thin.ttf");
}

@font-face {
    font-family: alimama-daoliti;
    src: url("./alimama-daoliti/AlimamaDaoLiTi.ttf");
}